<html>
<head>
<title>{{title}}</title>
</head>
<body>
<h1>The {{title}} is</h1>
<p>The Sum is {{sum}}</p>
<p>The Subtraction is {{sub}}</p>
<p>The mul is {{mul}}</p>
<p>The dev is {{dev}}</p>
</form>
</body>
</html>