<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/ed93bc933e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- <div id="signupbox">
        <h1><%= title %></h1><br>
        <p>SignUp Page</p>
        <form action="/" method="post">
            <input type="text" name="uname" placeholder="Enter UserName">
            <input type="text" name="email" placeholder="Enter Email">
            <input type="password" name="password" placeholder="Enter Password">
            <input type="password" name="confpassword" placeholder="Enter Confirm Password">
            <input type="submit" value="signup" name="submit" class="btn btn-primary">
            <p>Already Have Account?<a href="/">Login Here</a></p>
        </form>
    </div> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Password Managment System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Password Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/add-new-category/">Add New Category</a>
                        <a class="dropdown-item" href="/passwordCategory/">View All Category</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Password Details
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/add-new-password/">Add New Password</a>
                        <a class="dropdown-item" href="/view-all-password/">View All Password</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li><a href="/logout/">LogOut</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <p style="color:red"> Loggedin As : <% if(loginUser){%> <%= loginUser %> <% } %></p>
        </div>
    </nav>







    <div id="signupbox">
        <p>Add New Password Category</p>
        <form action="/add-new-category/" method="post">
            <% if(errors !=''){%>
                <p style="text-align:center;color:red;"><%= errors.passwordCategory.msg %></p>
            
            <%}%>
            <% if(success !=''){%>
            <p style="text-align:center;color:green;"><%= success %></p>
            
            <%}%>
            <input type="text" name="passwordCategory" placeholder="Enter Password  Name">
            <input type="submit" value="Add Category" name="submit" class="btn btn-primary">
            <p><a href="/passwordCategory/">View All Category Lists</a></p>
        </form>
    </div>
</body>

</html>