<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title handleForm
    body
        p Name: #{data.name}
        p Email:#{data.email}
        p Password: #{data.password}
        p Gender: #{data.gender}
        p City: #{data.city}