<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/d5f3f14999.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <% if(success !='') {%>
    <div class="alert alert-success" role="alert">
    <%= success %>
    <% } %>
    </div>
    <h1>Filter Employee Records</h1>
        <form action="/search" method="post">
          <input type="text" name="filtername" placeholder="Enter  Name">
          <input type="text" name="filteremail" placeholder="Enter  Email">
          <select name="emptype">
            <option value="Hourly">Hourly</option>
            <option value="Fixed">Fixed</option>
          </select>
          <input type="submit" name="submit" value="submit">
        </form>







    <h1><%= title %></h1>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>etype</th>
        <th>hourlyRate</th>
        <th>totalHour</th>
        <th>Total</th>
        <th>Profile Image</th>
        <th>Action</th>
      </tr>
      </thead>
      <% if(data.length>0) {%>
    <% data.forEach(function(row){%>
        <tr>
        <td><%= row.name %></td>
        <td><%= row.email %></td>
        <td><%= row.etype %></td>
        <td><%= row.hourlyrate %></td>
        <td><%= row.totalHour %></td>
        <td><%= row.total %></td>
        <td>
          <% if(row.image){%>
          <img src="./uploads/<%= row.image %>" alt="profile image" height="30" width="30">
          <% }%>
        </td>
        <td>
          <a href="/edit/<%= row._id%>"  style="color:blue">
          <i class="fas fa-edit fa-1x"></i></a>
          <a href="/delete/<%= row._id%>" style="margin-left:'7px';color:red"> 
          <i class="fas fa-trash fa-1x "></i>
          </a>
        </td>
      </tr>
    <%})} else{%>
      <tr>
        <td colspan="6">No Records Found</td>
      </tr>
      <% } %>
    </table>

    <!-- <div class="container" >
      <div class="row" style="margin:'5rem'">
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">Employee Details Form</div>
            </div>
            <div class="panel-body">
              <form action="/" id="EmployeeForm" class="form-horizontal" method="POST" role="form"
                enctype="multipart/form-data">
    
                <div id="signupalert" style="display:none" class="alert alert-danger">
                  <p>Error:</p>
                  <span></span>
                </div>
    
                <div class="form-group">
                  <label for="firstname" class="col-md-3 control-label">Name</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" name="uname" placeholder="Enter Your Name">
                  </div>
                </div>
    
                <div class="form-group">
                  <label for="email" class="col-md-3 control-label">Email</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" name="email" placeholder="Email Address">
                  </div>
                </div>
     -->
    
                <!-- <div class="form-group">
                  <label for="lastname" class="col-md-3 control-label">Employee Type</label>
                  <div class="col-md-9">
                    <select class="form-control" name="emptype">
                      <option value="Hourly">Hourly</option>
                      <option value="Fixed">Fixed</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-md-3 control-label">Hourly Rate</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" name="hrlyrate" placeholder="Enter Hourly Rate">
                  </div>
                </div>
    
                <div class="form-group">
                  <label for="icode" class="col-md-3 control-label"> Total Hour</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" name="ttlhr" placeholder="Enter Total Hours">
                  </div>
                </div> -->
    
                <!-- <div class="form-group">
                  <!-- Button --> 
                  <!-- <div class="col-md-offset-3 col-md-9">
                    <input type="submit" name="submit" value="submit" class="btn btn-primary">
                  </div>
                </div>
    
    
    
    
    
              </form>
            </div>
          </div> -->
          <!-- <div class="container">
            <form action="/" method="post">
            <input type="text" name="uname">
            <input type="text" name="email">
            <select class="form-control" name="emptype">
              <option value="Hourly">Hourly</option>
              <option value="Fixed">Fixed</option>
            </select>
            <input type="text" name="hourlyrate">
            <input type="text" name="totalHour">
            <input type="submit" name="submit" value="submit" class="btn btn-primary">
          </div>
          </form> -->

          <form action="/" method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Enter Your Name" required>
            <input type="text" name="email" placeholder="Enter Your Email" required>
            <input type="file" name="file">
              <select class="form-control" name="emptype">
                <option value="Hourly">Hourly</option>
                <option value="Fixed">Fixed</option>
              </select>
              <input type="number" name="hourlyRate" placeholder="Enter Hourly rate" required>
              <input type="number" name="tthlr" placeholder="Enter Total Hour" required>
            <input type="submit" name="submit" value="submit">
          </form>
  </body>
</html>
