<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>

<body>
    <%- include('common/nav') -%>
    <h2>Welcome Mr <%= title %> </h2>
    <h3>Email: <%= data.email %></h3>
    <h3>Addrss: <%= data.address %></h3>
    <ul>
        <% data.skills.forEach(function(item){%>
            <li><%= item%></li>
       <% }) %>
    </ul>
</body>

</html>